In [1]:

!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 2.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import mysql.connector

In [3]:
db_params = {
    'host': 'localhost',
    'user': 'root',
    'port': 23306,
    'password': 'p455w0rd'
}

connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

MariaDB connection successful

In [4]:

create_db_query = "CREATE DATABASE bhs_pemrograman"

cursor.execute(create_db_query)

print("Database created successfully")

Database created successfully

In [5]:
db_params = {
    'host': 'localhost',
    'user': 'root',
    'port': 23306,
    'password': 'p455w0rd',
    'database': 'bhs_pemrograman'
}

In [6]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

# Create table query
create_table_query = """
CREATE TABLE pert9 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT
)
"""

# Execute query
cursor.execute(create_table_query)

print("Table created successfully")

# Close MariaDB connection
cursor.close()
connection.close()

print("MariaDB connection is closed")

MariaDB connection successful
Table created successfully
MariaDB connection is closed

In [7]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")


insert_query = "INSERT INTO pert9 (name, age) VALUES (%s, %s)"
data_to_insert = [
    ('Ani', 20),
    ('Budi', 21),
    ('Caca', 19)
]

# Execute query
cursor.executemany(insert_query, data_to_insert)
connection.commit()

print("Data inserted successfully")

MariaDB connection successful
Data inserted successfully

In [8]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

# Select data query
select_query = "SELECT * FROM pert9"

# Execute query
cursor.execute(select_query)
rows = cursor.fetchall()

# Display data
for row in rows:
    print(row)

MariaDB connection successful
(1, 'Ani', 20)
(2, 'Budi', 21)
(3, 'Caca', 19)

In [9]:
cursor.close()
connection.close()

print("MariaDB connection is closed")

MariaDB connection is closed